body {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  margin-top: 25px;
  font-size: 32px;
  color: #00e5ff;
  text-shadow: 0 0 15px #00e5ff;
}

.tier-container {
  margin-top: 20px;
}

.tier-btn {
  background: #111;
  border: 2px solid #333;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.tier-btn:hover,
.tier-btn.active {
  border-color: #00e5ff;
  box-shadow: 0 0 15px #00e5ff;
  transform: scale(1.05);
}

.spin-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #00e5ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.weapon-results {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.weapon-card {
  background: #0a0a0a;
  border: 2px solid #00e5ff;
  border-radius: 12px;
  width: 240px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 25px #00e5ff80;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.25s ease;
}

.weapon-card.show {
  opacity: 1;
  transform: translateY(0);
}

.weapon-card img {
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00e5ff60;
}

.weapon-card h3 {
  margin-top: 10px;
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff;
}


.weapon-card h3 {
  color: #00e5ff;
  margin-top: 10px;
  text-shadow: 0 0 10px #00e5ff;
}
